#selector {
  align-items: center;
  display:flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.mat-button-toggle {
  color: black;
  font-size: x-large;
}

.mat-button-toggle-checked {
  background: rgb(103, 58, 183);
  color: white;
}

.mat-column-name {
  width: 50%;
}

.mat-column-actions {
  min-width: 120px;
}
