<div id="selector">
  <mat-button-toggle-group #selector="matButtonToggleGroup" [value]="DISPLAY_CART">
    <mat-button-toggle [value]="DISPLAY_CART">Shopping Cart</mat-button-toggle>
    <mat-button-toggle [value]="DISPLAY_RESOURCES">Resource Cost</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<!-- Cart -->
<table *ngIf="selector.value === DISPLAY_CART" mat-table [dataSource]="(cart$ | async) ?? []">
  <!-- Quantity -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let cartItem">{{ cartItem.quantity }}</td>
  </ng-container>

  <!-- Name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Item</th>
    <td mat-cell *matCellDef="let cartItem">{{ cartItem.item.name }}</td>
  </ng-container>

  <!-- Level -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef>Quality</th>
    <td mat-cell *matCellDef="let cartItem">{{ getDisplayLevel(cartItem) }}</td>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let cartItem">
      <button mat-icon-button color="primary" (click)="edit(cartItem.item)">
        <mat-icon>edit</mat-icon>
      </button>
      <app-remove-item-button [item]="cartItem.item"></app-remove-item-button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="CART_COLUMNS"></tr>
  <tr mat-row *matRowDef="let row; columns: CART_COLUMNS"></tr>
</table>

<!-- Resources -->
<table *ngIf="selector.value === DISPLAY_RESOURCES" mat-table [dataSource]="(resources$ | async) ?? []">
  <!-- Quantity -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let resource">{{ resource.quantity }}</td>
  </ng-container>

  <!-- Name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Item</th>
    <td mat-cell *matCellDef="let resource">{{ resource.wikiThing.name }}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="RESOURCES_COLUMNS"></tr>
  <tr mat-row *matRowDef="let row; columns: RESOURCES_COLUMNS"></tr>
</table>
