<h1 mat-dialog-title>{{ item.name }}</h1>
<div id="content" mat-dialog-content>
  <div id="level">
    <span>Quality: </span>
    <app-counter
      [value]="level"
      [increment]="incrementLevel"
      [decrement]="decrementLevel"
      [min]="1"
      [max]="item.craftingMaterials?.length ?? 1"
    ></app-counter>
  </div>
  <div>
    <span>Quantity: </span>
    <input
      matInput
      type="number"
      [(ngModel)]="quantity"
      min="1"
      onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close (click)="addItemToCart()">Add Item</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</div>
