<h1 mat-dialog-title>{{ item.name }}</h1>
<div id="content" mat-dialog-content>
  <div id="level">
    <app-counter
      [(value)]="level"
      [min]="1"
      [max]="item.craftingMaterials?.length ?? 1"
    ></app-counter>
    <span>Quality</span>
  </div>
  <div>
    <app-counter
      [(value)]="quantity"
      [min]="1"
      [allowTyping]="true"
    ></app-counter>
    <span>Quantity</span>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close (click)="addItemToCart()">Add Item</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</div>
