<h1 mat-dialog-title>Add Item to Cart</h1>
<div mat-dialog-content>
  <div>
    <span>Item: {{ item.name }}</span>
  </div>
  <div>
    <span>Quality: </span>
    <input
      id="level-input"
      matInput
      type="number"
      [(ngModel)]="level"
      min="1"
      [max]="item.craftingMaterials?.length ?? 1"
      [disabled]="(item.craftingMaterials?.length ?? 1) <= 1"
      onkeydown="return false"
    >
  </div>
  <div>
    <span>Quantity: </span>
    <input
      matInput
      type="number"
      [(ngModel)]="quantity"
      min="1"
      onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close (click)="addItemToCart()">Add Item</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</div>
